<!-- The <table> element creates a table.
  The <tr> element adds rows to a table.
  To add data to a row, you can use the <td> element.
  Table headings clarify the meaning of data. Headings are added with the <th> element.
  Table data can span columns using the colspan attribute.
  Table data can span rows using the rowspan attribute.
  Tables can be split into three main sections: a head, a body, and a footer.
  A table’s head is created with the <thead> element.
  A table’s body is created with the <tbody> element.
  A table’s footer is created with the <tfoot> element.
  All the CSS properties you learned about in this course can be applied to tables and their data.
  Congratulations on completing HTML Tables!
  
  Instructions
  Take some time to experiment with your new knowledge of tables in index.html. When you’re done, proceed to the next unit. -->






  <!DOCTYPE html>
  <html>
  
  <head>
    <title>Brown Bears</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Judul-->
  </head>
  
  <body>
    <a href="./index.html">Brown Bear</a>
    <a href="./aboutme.html">About Me</a>
    <ul style="color: blue; font-family: Arial, Helvetica, sans-serif;">The Brown Bear</ul>
    <ul>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#habitat">Habitat</a></li>
      <li><a href="#media">Media</a></li>
    </ul>
    <div id="introduction">
      <h2>About Brown Bears</h2>
      <p>The brown bear (<em>Ursus arctos</em>) is native to parts of northern Eurasia and North America. Its conservation
        status is currently <strong>Least Concern</strong>.
        <br />
        <br /> 
        There are many subspecies within the brown bear
        species, including the
        Atlas bear and the Himalayan brown bear.</p>
      <a href="https://en.wikipedia.org/wiki/Brown_bear" target="_blank">Learn More</a>
      <h3>Species</h3>
      <ul>
        <li>Arctos</li>
        <li>Collarus</li>
        <li>Horribilis</li>
        <li>Nelsoni (extinct)</li>
      </ul>
      <h3>Features</h3>
      <!--Sub Judul-->
      <p>Brown bears are not always completely brown. Some can be reddish or yellowish. They have very large, curved claws
        and huge paws. Male brown bears are often 30% larger than female brown bears. They can range from 5 feet to 9 feet
        from head to toe.</p>
    </div>
    <div id="habitat">
      <!--Group-->
      <h2>Habitat</h2>
      <h3>Countries with Large Brown Bear Populations</h3>
      <ol>
        <!--Orderlist-->
        <li>Russia</li>
        <li>United States</li>
        <li>Canada</li>
      </ol>
      <h3>Countries with Small Brown Bear Populations</h3>
      <p>Some countries with smaller brown bear populations include Armenia, Belarus, Bulgaria, China, Finland, France,
        Greece, India, Japan, Nepal, Poland, Romania, Slovenia, Turkmenistan, and Uzbekistan.</p>
  
      <dl>
        <dt>
          <strong>Bear</strong>
        </dt>
        <dd>
          The most Beautiful cretures
        </dd>
        <!--description-->
      </dl>
    </div>
    <div id="media">
      <h2>Media</h2>
      <p>tap the <a href="https://en.wikipedia.org/wiki/Brown_bear">botton</a></p>
      <a href="https://en.wikipedia.org/wiki/Brown_bear" target="_blank"><img
          src="https://content.codecademy.com/courses/web-101/web101-image_brownbear.jpg" /></a>
      <!--hyperlink-->
      <video src="https://content.codecademy.com/courses/freelance-1/unit-1/lesson-2/htmlcss1-vid_brown-bear.mp4"
        height="240" width="320" controls>Video not supported</video>
    </div>
  </body>
  
  </html>